<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="img/basic/favicon.ico" type="image/x-icon">
    <script src="js/jquery-3.6.0.js"></script>
    <title>Paper</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/app.css">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="l-s-2 blink">LOADING</div>
    </div>
</div>

<div id="app" class="paper-loading">
    <!-- Header -->
    <nav class="mainnav navbar navbar-default justify-content-between">
        <div class="container relative">
            <a class="offcanvas dl-trigger paper-nav-toggle" data-toggle="offcanvas"
               aria-expanded="false" aria-label="Toggle navigation">
                <i></i>
            </a>
            <a class="navbar-brand" th:href="@{/index}">
                <img class="d-inline-block align-top" alt="" src="img/basic/logo.png">
            </a>
            <div class="paper_menu">
                <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                    <ul class="dl-menu align-items-center">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li><a th:href="@{/paper}">Recommend</a></li>


                         <li th:if="${session.user}">
                                <a th:href="@{/logout}">Logout</a>
                            </li>

                            <li th:if="${session.user==null}"><a th:href="@{/login}">
                                Login
                            </a>
                            </li>
                            <li th:if="${session.user==null}"><a th:href="@{/register}" class="btn btn-default nav-btn">Sign
                                Up</a>
                            </li>
                    </ul>
                </div>
                <!-- Login modal -->
            </div>
        </div>
    </nav>
    <div class="light b-t">
        <div id="primary" class="content-area"
             data-bg-possition="center"
             data-bg-repeat="false"
             style="background: url('img/icon/icon-circles.png');">
            <main id="main" class="site-main">
                <div class="container">
                    <div class="col-xl-8 mx-lg-auto p-t-b-80">
                        <header class="text-center">
                            <h1>Create New Account</h1>
                            <p>Join Our wonderful community and let others help you without a single
                                penny</p>
                            <img class="p-t-b-50" src="img/icon/icon-join.png" alt="">
                        </header>
                        <form id="register-submit">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="firstName" type="text" class="form-control form-control-lg"
                                               placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="lastName" type="text" class="form-control form-control-lg"
                                               placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input id="email" type="text" class="form-control form-control-lg"
                                               placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="password" type="password" class="form-control form-control-lg"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="confrimpwd" type="password" class="form-control form-control-lg"
                                               placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block"
                                           value="Create Account">
                                    <p class="forget-pass">A verification email wil be sent to you</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class=" col-lg-2 col-xl-3 col-12 responsive-phone"><a href="#" class="brand">
                    <img src="img/basic/logo.png" alt="Knowledge">
                    <span class="circle"></span>
                </a>
                </div>
                <div class="col-6  col-md-4 col-lg-2">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">

                         <li th:if="${session.user==null}"><a th:href="@{/login}">
                                Login
                            </a>
                            </li>
                    </ul>
                </div>
                <div class="col-6  col-md-4 col-lg-2">
                    <h6>Knowledgebase</h6>
                    <ul class="footer-links">

                         <li th:if="${session.user==null}"><a th:href="@{/login}">
                                Login
                            </a>
                            </li>
                    </ul>
                </div>
                <div class="col-6  col-md-4 col-lg-2">
                    <h6>About Us</h6>
                    <ul class="footer-links">

                         <li th:if="${session.user==null}"><a th:href="@{/login}">
                                Login
                            </a>
                            </li>
                    </ul>
                </div>
                <div class="col-6 col-md-12 col-12 col-xl-3 responsive-phone">
                    <h6>Connect via Social</h6>
                    <ul class="social">
                        <li class="facebook"><a href="#"><i class="icon icon-facebook"></i></a>
                        </li>
                        <li class="twitter"><a href="#"><i class="icon icon-twitter"></i></a>
                        </li>
                        <li class="gplus"><a href="#"><i class="icon icon-google-plus"></i></a>
                        </li>
                    </ul>
                    <div class="copyrights">
                        <p>&#xA9; 2018 Paper Knowledgebase Copyrights</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- SignUp modal -->
<!--End Page page_wrrapper -->
<script>
    $(function () {
        //处理注册
        $("#register-submit").submit(function () {
            var email = $("#email").val();
            var password = $("#password").val();
            var firstname = $("#firstName").val();
            var lastName = $("#lastName").val();
            var confrimpwd = $("#confrimpwd").val();
            var data = {
                "email": email,
                "password": password,
                "firstName": firstname,
                "lastName": lastName,
                "confrimpwd": confrimpwd
            };
            url = "register.do";
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (data) {
                    var res = JSON.parse(data);
                    if (res.status == 200) {
                        window.location.href = "/login"
                    } else {
                        alert(res.msg);
                    }
                }
            });
            return false;
        });//处理注册 End
    });
</script>
<script src="js/search.js"></script>
<script src="js/app.js"></script>
</body>
</html>
